<footer class="footer mt-auto bg-dark text-muted py-3 text-center">
	<div class="container">
		<span class="text-muted">&copy; HotelHub 2024 |</span>
		<i class="fab fa-github me-1"></i>
		<a class="text-muted" href="https://github.com/ayushdixit210801/HotelHub/tree/master" style="text-decoration: none" target="_none">GitHub</a>
	</div>
</footer>
