#cluster-map {
    width: 100%;
    height: 350px;
}

#map {
    width: 100%;
    height: 100%;
}

.flash {
    position: fixed;
    top: 60px;
    left: 1%;
    right: 1%;
    z-index: 7000;
    opacity: 0.9;
}

.completed-tab{
    background-color: rgb(237, 253, 243);
}

.current-tab{
    background-color: rgb(232, 245, 254);
}

.upcoming-tab{
    background-color: rgb(253, 252, 227);
}
